/*fazer o CSS reset tirando a margem e padding de todos os elementos
* = seleciona todos os elementos da pg*/
*{
    margin:0;
    padding: 0;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
  }