/*limpeza das configs*/
*{
    margin: 0px;
    padding: 0px;
}


body{
    /*Elemento pai não extrapolar o filho*/
    box-sizing: border-box;
    /*Uso 100% vertical da tela*/
    height: 100vh;
}

.responsivo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
